<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
    </tr>
    <% @cart.line_items.each do |line_item|%>
      <tr>
        <td><%= line_item.listing.product.title %></td>
        <td><%= line_item.listing.types %></td>
        <td><%= quantity = line_item.quantity %></td>
        <td>
          <% price = line_item.price %>
          <%= number_to_currency price %>
        </td>
        <td><%= number_to_currency quantity * price %></td>
        <td><%= link_to "Remove", cart_path(line_item_id:line_item.id), method: :delete, class:"btn btn-mini btn-danger"%><td>
      </tr>
    <% end %>
  </table>
  <div class="pull-right">
    <%= link_to "Ordered", "", class:"btn btn-large btn-success"%>
  </div>
</div>
