<div class="container">
  <div class="well">
    <p align="center">管理员主页</p>
  </div>



  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">成员管理</a></li>
      <li><a href="#tab2" data-toggle="tab">设计管理</a></li>
      <li><a href="#tab3" data-toggle="tab">产品管理</a></li>
      <li><a href="#tab4" data-toggle="tab">订单管理</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <table class="table">
          <caption>成员管理</caption>
          <tr>
            <th>所有用户</th>
            <th><%= link_to "设计师", admin_designers_path %></th>
            <th><%= link_to "厂家", admin_manufacturers_path %></th>
          </tr>
          <tr>
            <td><%= @users.count %></td>
            <td><%= @designers.count %></td>
            <td><%= @manufacturers.count %></td>
          </tr>
        </table>
      </div>

      <div class="tab-pane" id="tab2">
        <table class="table table-striped table-bordered">
          <caption>设计列表</caption>
          <tr>
            <th>ID</th>
            <th>标题</th>
            <th></th>
          </tr>
          <% @designs.each do |design| %>
            <tr>
              <td><%=design.id%></td>
              <td><%=link_to design.name, design_path(design.id)%></td>
              <td></td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="tab-pane" id="tab3">
        <%= link_to '发布新产品', new_admin_product_path %>
        <table class="table table-striped table-bordered">
          <caption>产品列表</caption>
          <tr>
            <th>ID</th>
            <th>标题</th>
            <th></th>
          </tr>
          <% @products.each do |product| %>
            <tr>
              <td><%=product.id%></td>
              <td><%=link_to product.title, edit_admin_product_path(product)%></td>
              <td></td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="tab-pane" id="tab4">
        <%= link_to '管理所有订单', admin_orders_path %>
        <table class="table table-striped table-bordered">
          <caption>订单列表</caption>
          <tr>
            <th>ID</th>
            <th>用户</th>
            <th>发往厂家</th>
            <th>单价</th>
            <th>数量</th>
            <th>总价</th>
            <th>状态</th>
          </tr>
          <% @orders.each do |order| %>
            <tr>
              <td><%=order.id%></td>
              <td><%=link_to UserDomain::get_user_name(order.user.id), admin_user_path(order.user)%></td>
              <td><%= %></td>
              <td><%=%></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
