<div class="container">
  <link rel="stylesheet" href="/css/style.css">
  <div class="banner">
    <ul>
      <li style="background-image: url('img/sunset.jpg');">
        <div class="inner">
          <h1>title</h1>
          <p>123456789123456789</p>
          <a class="btnhome" href="#download">详情</a>
        </div>
      </li>

      <li style="background-image: url('img/wood.jpg');">
        <div class="inner">
          <h1>title</h1>
          <p>123456789123456789</p>
          <a class="btnhome" href="#download">详情</a>
        </div>
      </li>

      <li style="background-image: url('img/shop.jpg');">
        <div class="inner">
          <h1>title</h1>
          <p>123456789123456789</p>
          <a class="btnhome" href="#download">详情</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="row-fluid">
    <%= render "item" %>
    <%= render "item" %>
    <%= render "item" %>
  </div>
  <div class="row-fluid">
    <%= render "item" %>
    <%= render "item" %>
    <%= render "item" %>
  </div>
  <div class="row-fluid">
    <%= render "item" %>
    <%= render "item" %>
    <%= render "item" %>
  </div>

</div>
<script src="/js/unslider.js"></script>
<script>
  $(function() {
    $('.banner').unslider({
      arrows: true,
      fluid: true,
      dots: true
    });
  });
</script>


