<div class="container">
<table class="table">
  <caption><b>Your Orders</b></caption>
  <tr>
    <th>ID</th>
    <th>Products</th>
    <th>Quantity</th>
    <th>Address</th>
    <th>Message</th>
    <th>State</th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>

    <td><%= order.id %></td>
    <td>
      <% order.line_items.each do |line_item|%>
        <%= link_to line_item.listing.product.title, product_path(line_item.product.id)%>
        <%= line_item.types%>
        <%= line_items.quantity%>
      <% end %>
    </td>
    <td><%= order.line_items.inject(0) {|r,i| r + i.quantity} %></td>
    <td><%= order.address %></td>
    <td><%= order.message %></td>
    <td></td>
    <td><% link_to 'Edit', edit_order_path(order) %></td>
  </tr>
<% end %>
</table>

</div>
