<div class="container">
  <div class="well">
    <p align="center">设计师列表</p>
  </div>
  <table class="table table-striped table-bordered">
    <tr>
      <th>ID</th>
      <th>Email</th>
    </tr>
    <% if @users.present? %>
      <% @users.each do |user|%>
        <tr>   
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= button_to "删除", designer_path(user.id), class:"btn", method: :delete, confirm:"你确定要删除么?" %></td>
        </tr> 
      <% end %>
    <% end %>
  </table>

  <%= form_tag designers_path, method: "post" do%>
    <%= label_tag :add_desginer, "增加设计师"%>
    <%= select_tag :id, options_from_collection_for_select(User.all, "id", "email") %>
    <%= submit_tag "确定", class:"btn"%>
  <% end%>
</div>
