<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Title:</b>
    <%= @product.title %>
  </p>

  <p>
    <b>Description:</b>
    <%= @product.description %>
  </p>

  <p>
    <b>Price:</b>
    <%= @product.price %>
  </p>

  <%= link_to "Buy", new_product_order_path(@product), class:"btn"%>

</div>
