<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
      <p>
        <h1> <b> <%= @product.title %> </b></h1>
      </p>
      <p>
        <div class="row-fluid">
          <div class="span3">
            <%= image_tag(@product.image_url, class: "img-polaroid") %>
          </div>
          <div class="span5 cart">
            <h3>Price: <b id="price"><%= @product.listings[0].price if @product.listings.present?%></b></h3>
            <%= form_tag "/cart", method: :put do%>
              <% @product.listings.each_with_index do |list, index|%>
                <div  class="types" style="float:left;width:60px;padding-top:2px;">
                  <% if index == 0 %>
                    <%= radio_button_tag :listing_id, list.id, true %>
                  <% else %>
                    <%= radio_button_tag :listing_id, list.id%>
                  <% end %>
                  <%= label_tag list.types%>
                </div>
              <% end %>
              <br />
              <div style="float:left;">
                <%= label_tag "How much do you want to buy?"%>
                <%= number_field_tag "quantity", 1, min:1%>
                <div class="stock">
                  Stock:
                  <b id="stock"></b>
                </div>
              </div>
              <div>
                <br /><br /><br /><br /><br /><br /><br /><br />
              <%= submit_tag "Add to Cart", class: "btn btn-success btn-large"%>
            </div>
            <% end %>
          </div>
        </div>
      </p>
      <%= @product.description.html_safe %>

    </div>
  </div>
</div>

<script>
  $(function() {
    $(".stock").hide();

    $('input:radio').change(function() {
      $.ajax({
        type:"GET",
        url: "/listings/" +this.value
        }).done(function(response){
        $(".stock").show()
        $("#stock").text(response["stock"])
        $("#price").text(response["price"])
    });
    });
  });
</script>
