<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
      <p>
        <h1> <b> <%= @product.title %> </b></h1>
      </p>
      <p>
        <div class="row-fluid">
          <div class="span3">
            <%= image_tag(@product.image_url, class: "img-polaroid") %>
          </div>
          <div class="span5 cart">
            <%= form_tag "/cart", method: :put do%>
              <%= label_tag "Types:"%>
              <% @product.listings.each do |list|%>
                <div  style="float:left;width:60px;padding-top:2px;">
                  <%= radio_button_tag :listing_id, list.id%>
                  <%= label_tag list.types%>
                </div>
              <% end %>
              <div style="float:left;">
                <%= label_tag "How much do you want to buy?"%>
                <%= number_field_tag "quantity", 1, min:1%>
                <%= label_tag "Stock: 100"%>
              </div>
              <br /> <br /><br /> <br />
              <%= submit_tag "Add to Cart", class: "btn btn-success btn-large"%>
            <% end %>
          </div>
        </div>
      </p>
      <%= @product.description.html_safe %>

    </div>
  </div>
</div>

<script>
</script>
