<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
      <p>
        <h1> <b> <%= @product.title %> </b></h1>
      </p>
      <p>
        <%= image_tag(@product.image_url, class: "img-polaroid") %>
        category:
        <p>
          <%= label_tag "Stock:100"%>
          <%= number_field_tag "quantity", 1, min:1%>
        </p>
      </p>

      <p>
        <%= link_to "Add to Cart", "javascript:void(0)", id:"add_to_cart", class:"btn btn-success btn-large"%>
      </p>
      <%= @product.description.html_safe %>

    </div>
  </div>
</div>

<script>
  $("#add_to_cart").click(function(){
    $.ajax({
      type: "PUT",
      url: "/cart"
      }).done(function(response){
      alert("success!");
      }).fail(function(response){
      alert(response.responseText);
    })
  });
</script>
