<div class="container">
  <%= form_tag "/settings/update", method: :put, class:"form-horizontal" do%>
    <fieldset>
      <div id="legend" class="">
        <legend class="">Profile</legend>
      </div>

      <div class="control-group">
        <!-- Text input-->
        <label class="control-label" for="input01">Name</label>
        <div class="controls">
          <%= text_field_tag :name, "", value:@user.name, class:"input-xlarge",placeholder:"Enter Your Name"%>
        </div>
      </div>


      <div class="control-group">
        <!-- Text input-->
        <label class="control-label" for="input01">PhoneNumber</label>
        <div class="controls">
          <%= text_field_tag :phone, "", value:@user.phone, class:"input-xlarge",placeholder:"Enter Your PhoneNumber"%>
        </div>
        </div>
        
        <div class="control-group">
        <!-- Textarea -->
        <label class="control-label">Address</label>
        <div class="controls">
          <%= text_area_tag(:address, @user.address, style:"margin: 0px; width: 273px; height: 74px;") %>
        </div>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <br />
            <%= submit_tag "Save", class:"btn btn-primary"%>
          </div>
        </div>

    </fieldset>

  <% end %>
</div>
