<!DOCTYPE html>
<html>
  <head>
    <title>Clothes</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>

  </head>
  <body>
    <div class="container">

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Project</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><%= link_to "Products", products_path %></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
            <div class="container">
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                  <% if current_user.has_any_role? :admin, :manufacturer, :designer%>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <% if current_user.has_role? :manufacturer %>
                          <li>  <%= link_to "厂家页面", manufacturer_path , class:"span"%> </li>
                        <% end %>
                        <% if current_user.has_role? :designer %>
                          <li> <%= link_to "设计师页面", designer_path, class:"span" %></li>
                        <% end %>
                        <% if current_user.has_role? :admin %>
                          <li> <%= link_to "管理员页面", admin_path, class:"span" %> </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                  <li><%= link_to "My Cart (#{UserDomain.get_user_cart_line_items current_user.id})", cart_path %></li>

                  <li class="divider-vertical"></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">MyOrders<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Ordered</a></li>
                      <li><a href="#">Delivered</a></li>
                      <li><%=link_to "All", orders_path%></li>
                    </ul>
                  </li>
                  <li> <%= link_to "Profile", settings_profile_path%></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li> <%= link_to "Sign In", new_user_session_path%></li>
                  <li> <%= link_to "Register", new_user_registration_path%> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>



      <br />
      <br />
      <!-- alert and notice begin -->
      <% if flash[:alert].present? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4></h4>    <strong><%= flash[:alert]%></strong>
        </div>
      <% end %>
      <% if flash[:notice].present? %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4></h4>    <strong><%= flash[:notice]%></strong>
        </div>
      <% end %>
      <!-- alert and notice end-->

    </div>
    <%= yield %>
    <div class="container">
      <div class="footer">
        <p align="center">
          © Company 2013
        </p>
      </div>
    </div>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </body>
  </html>
